.success {
  background-color: lightgrey;
  border: 2px solid green;
  border-radius: 4px;
  padding: 8px;
  color: green;
  font-size: 14pt;
  margin-bottom: 12px;
}

.error {
  background-color: lightgrey;
  border: 2px solid red;
  border-radius: 4px;
  padding: 8px;
  color: red;
  font-size: 14pt;
  margin-bottom: 12px;
}
